.main{
    max-width: 100%;
    width: 100%;    
}
.container-header{
    display: flex;   
    justify-content: space-between; 
    padding-top:4rem;
    padding-left: 4.2rem;


}

.container-header h3{
    max-width:22.3rem;
    width: 100%;
}

.header_btn{
    width: 11.1rem;
    height: 3.1rem;
    border-radius: 0.5rem;
    padding:0;
    margin-top:1.9rem;
}




@media (max-width : 550px){
    .header_btn{
        margin-top: 1.5rem;
        font-size: 1.2rem;
        width: 9rem;
    }
    .container-header{
        padding-inline: 2rem;
    }
    .container-header h3{
        font-size: 1.4rem;
        line-height: 2.4rem;
        max-width: 15rem;
    }
}
