:root{
    --cor--principal: #0E0024;
    --cor--secundaria: #1D0737;
    --text--color: #FFFFFF;
    --cor--btn: #532184;

    background-color: var(--cor--principal);
    font-family: 'Roboto', sans-serif;

}
body{
    height:100vh;
    width: 100vw;
   
}
#root{
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;

    scrollbar-width: 3px;          
    scrollbar-color: var(--cor--btn) none;   
   
}
body::-webkit-scrollbar {
    width: 0.4rem;               
  }
body::-webkit-scrollbar-track {
    background-color: none;        
  }

body::-webkit-scrollbar-thumb {
    background-color: var(--cor--btn);    
    border-radius: 2rem;      
   
  }

h1{
    font-weight: 700;
    font-size: 11.4rem;
    line-height: 11rem;
    color: var(--text--color);
    margin-top: 6.5rem;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--text--color);
}

h3{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: var(--text--color);
}

button{
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    background-color: var(--cor--btn);
    cursor: pointer;
    color: var(--text--color);
    border-radius: 0.5rem;
}
button:hover{
    transform: scale(0.97);
    transition: 0.2s linear;
}
label{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}
input{
    font-family: 'Roboto', sans-serif;
    box-shadow: 3px 5px 14px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    border: 1px solid #E5E5E5;
    margin-bottom: 1.5rem;
    padding-left: 1rem;

}
.container{
    padding-left: 4.2rem;
    padding-right: 8rem;
}



@media (max-width : 1477px){

    h1{
        font-size: 9.4rem;
    }
    .container{
        
        padding-right: 6rem;
    }
}