@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --cor--principal: #0E0024;
    --cor--secundaria: #1D0737;
    --cor--terciaria:#12022D;
    --text--color: hsl(0, 0%, 100%);
    --text--gray--color:#b6b6b696;
    --cor--btn: #532184;

    background-color: var(--cor--principal);
    font-family: 'Roboto', sans-serif;
}
body{
    max-height: 100%;
    height: 100%;
    width: 100vw;
    
}
#root{
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;

    scrollbar-width: 3px;          
    scrollbar-color: var(--cor--btn) none;   
   
}
body::-webkit-scrollbar {
    width: 0.4rem;               
  }
body::-webkit-scrollbar-track {
    background-color: none;        
  }

body::-webkit-scrollbar-thumb {
    background-color: var(--cor--btn);    
    border-radius: 2rem;      
   
  }

h1{
    font-weight: 700;
    font-size: 11.4rem;
    line-height: 11rem;
    color: var(--text--color);
    margin-top: 6.5rem;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--text--color);
}

h3{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: var(--text--color);
}
p{
  font-size: 1.6rem;
  color: var(--text--color);
  font-weight: 700;
}

button, [type='submit']{
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    background-color: var(--cor--btn);
    cursor: pointer;
    color: var(--text--color);
    border-radius: 0.5rem;
}
button:hover{
    transform: scale(0.97);
    transition: 0.2s linear;
}
label{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}
input{
    font-family: 'Roboto', sans-serif;
    box-shadow: 3px 5px 14px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    border: 1px solid #E5E5E5;
    margin-bottom: 1.5rem;
    padding-left: 1rem;

}
.container{
    display: flex;   
    padding-left: 4.2rem;
    padding-right: 8rem;
}



@media (max-width : 1477px){

    h1{
        font-size: 9.4rem;
    }
    .container{
        
        padding-right: 6rem;
    }
}

 
@layer base {
  :root {
    --background:270, 60%, 32%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  }
}
 
@layer base {

  /* body {
    @apply bg-background text-foreground;
  } */
}

